* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*header*/
.styles__Header{
  position: relative;
  z-index: 999;
  background: rgb(255,255,255) ;
  padding: 8px 0px;
  display: flex;
  gap:48px;
  align-items: center;
  justify-content: center;
}
.styles__Logo{
  display: flex;
  flex-direction: column;
}
.styles__Logo > span{
  text-align: center;
  font-size: 14px;
  color: rgb(0,62,161);
  font-weight: 600;
  margin-top: 8px;

}
.styles__homeHeader{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;

}
.styles__middleHome{
  display: flex;
  flex-direction: row;
  -webkit-box-align:center;
}
.styles__middleContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-align: center;
  width: 100%;
}
.searchContainer{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(221,221,227);
  flex: 1 1 0%;
  width: 100%;
  align-items: center;
  border-radius: 10px;
}
.style__InputSearch{
  padding: 0px 8px;
  font-weight: 400;
  font-size: 14px;
  border-top-right-radius: 8px;
  outline: none;
}
.button__wrapper{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.divider{
  height: 26px;
  width: 1px;
  background: rgb(177, 176, 176);
}
.style__BottonSearch{
  width: 92px;
  height: 38px;
  padding: 4px;
  border-radius: 0px 8px 8px 8px;
  background: transparent;
  color: rgb( 10,104,225);
  font-weight: 400;
  font-size: 14px;
}
.iconSearch{
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 18px;
}
.rightContainer{
  display: flex;
  flex-direction: row;
  margin-left: 48px;
}
.style__IconHome{
  display: flex;
  align-items:center;
  border-radius: 8px;
  justify-content: center;
  width: 120px;
}
.style__IconHome:hover{
  background-color:rgba(0, 96, 255, 0.12);

}
.style__IconHome__icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}
.style__IconHome > span {
  font-weight: 500;
  font-size: 14px;
  color: rgb( 10,104,225);
}
.style__Account{
  display: flex;
  align-items:center;
  border-radius: 8px;
  justify-content: center;
  width: 120px;
}
.style__Account:hover{
  background-color:rgba(0, 96, 255, 0.129);
}
.style__Account__icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}
.style__Account > span {
  font-weight: 500;
  font-size: 14px;
  color: rgb(128, 128, 137) ;
}
.style__cartRappe{
  display: flex;
  align-items: center;
  padding: 8px ;
  gap: 10px;
}
.style__cartRappe:hover {
  background-color: rgba(0, 96, 255, 0.12);
}
.style__cartRappe__icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}
.style__bottomHome{
  display: flex;
  flex-direction: row;
  -webkit-box-align:center;
  align-items: center;
}
.style__QuicklinkContainer{
  display: flex;
  width: 712px;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 12px;
}
.style__QuicklinkContainer > a {
  color: rgb(123, 123, 125) ;
  text-decoration: none;
}
.style__location{
  display: flex;
  flex-direction: row;
  align-items:center;
  border-radius: 8px;
  position: relative;
}
.style__location__icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}
.style__location__title{
  color: rgb(123, 123, 125) ;
}
.style__location__address{
  text-decoration: underline;
  margin-left:4px ;
}
/* End Header*/
.style__navbar {
  background-color: #ffe880;
}
.style__navbarcontent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
  height: 42px;
}
.style__navbarcontent > a {
  text-decoration: none;
  padding: 4px;
  color: black;
}
/* End Navbar*/
/* Main*/
.main{
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: auto;
  margin-top: 20px;
  gap: 25px;
  
}
.category {
  width: 230px;
  background-color: #f6f5f3;
  padding: 12px;
  border-radius: 10px;
}
.content{
  background-color: aqua;
  flex: 1;
  height: 100px;
}
.list__item {
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
}
.item__link{
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  padding: 6px 12px;
}
.item__link:hover{
  background-color: rgba(0, 96, 255, 0.12);
}
.picture{
  width: 32px;
  height: 32px;
}
.list__item span {
 font-size: 15px;
 color: black;
}
