* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
}
/*header*/
.styles__Header{
  position: relative;
  z-index: 999;
  background: rgb(255,255,255) ;
  padding: 8px 0px;
  display: flex;
  gap:48px;
  align-items: center;
  justify-content: center;
}
.styles__Logo{
  display: flex;
  flex-direction: column;
}
.styles__Logo > span{
  text-align: center;
  font-size: 14px;
  color: rgb(0,62,161);
  font-weight: 600;
  margin-top: 8px;

}
.styles__homeHeader{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;

}
.styles__middleHome{
  display: flex;
  flex-direction: row;
  -webkit-box-align:center;
}
.styles__middleContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-align: center;
  width: 100%;
}
.searchContainer{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(221,221,227);
  flex: 1 1 0%;
  width: 100%;
  align-items: center;
  border-radius: 10px;
}
.style__InputSearch{
  padding: 0px 8px;
  font-weight: 400;
  font-size: 14px;
  border-top-right-radius: 8px;
  outline: none;
}
.button__wrapper{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.divider{
  height: 26px;
  width: 1px;
  background: rgb(177, 176, 176);
}
.style__BottonSearch{
  width: 92px;
  height: 38px;
  padding: 4px;
  border-radius: 0px 8px 8px 8px;
  background: transparent;
  color: rgb( 10,104,225);
  font-weight: 400;
  font-size: 14px;
}
.iconSearch{
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 18px;
}
.rightContainer{
  display: flex;
  flex-direction: row;
  margin-left: 48px;
}
.style__IconHome{
  display: flex;
  align-items:center;
  border-radius: 8px;
  justify-content: center;
  width: 120px;
}
.style__IconHome:hover{
  background-color:rgba(0, 96, 255, 0.12);

}
.style__IconHome__icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}
.style__IconHome > span {
  font-weight: 500;
  font-size: 14px;
  color: rgb( 10,104,225);
}
.style__Account{
  display: flex;
  align-items:center;
  border-radius: 8px;
  justify-content: center;
  width: 120px;
}
.style__Account:hover{
  background-color:rgba(0, 96, 255, 0.129);
}
.style__Account__icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}
.style__Account > span {
  font-weight: 500;
  font-size: 14px;
  color: rgb(128, 128, 137) ;
}
.style__cartRappe{
  display: flex;
  align-items: center;
  padding: 8px ;
  gap: 10px;
}
.style__cartRappe:hover {
  background-color: rgba(0, 96, 255, 0.12);
}
.style__cartRappe__icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}
.style__bottomHome{
  display: flex;
  flex-direction: row;
  -webkit-box-align:center;
  align-items: center;
}
.style__QuicklinkContainer{
  display: flex;
  width: 712px;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 12px;
}
.style__QuicklinkContainer > a {
  color: rgb(123, 123, 125) ;
  text-decoration: none;
}
.style__location{
  display: flex;
  flex-direction: row;
  align-items:center;
  border-radius: 8px;
  position: relative;
}
.style__location__icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}
.style__location__title{
  color: rgb(123, 123, 125) ;
}
.style__location__address{
  text-decoration: underline;
  margin-left:4px ;
}
/* End Header*/
.style__navbar {
  background-color: #ffe880;
}
.style__navbarcontent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
  height: 42px;
}
.style__navbarcontent > a {
  text-decoration: none;
  padding: 4px;
  color: black;
}
/* End Navbar*/
/* Main*/
.main{
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: auto;
  margin-top: 20px;
  gap: 25px;
  
}
.category {
  display: flex;
  flex-direction: column;
  width: 230px;
  gap: 20px;
}
.list{
  background-color: #f6f5f3;
  border-radius: 10px;
  padding: 12px;
}
.list__item {
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
}
.item__link{
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  padding: 6px 12px;
}
.item__link:hover{
  background-color: rgba(0, 96, 255, 0.12);
}
.picture{
  width: 32px;
  height: 32px;
}
.list__item span {
 font-size: 15px;
 color: black;
}
.hightlight{
  background-color: #f6f5f3;
  border-radius: 10px;
  padding: 12px;
}
.hightlight__item{
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
}
.hightlight__link{
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  padding: 6px 12px;
}
.hightlight__link:hover{
  background-color: rgba(0, 96, 255, 0.12);
}
.hightlight__item span{
 font-size: 15px;
 color: black;
}
.partner{
  background-color: #f6f5f3;
  border-radius: 10px;
  padding: 12px;
}
.partner__item{
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
}
.partner__link{
 text-decoration: none;
 display: flex;
 justify-content: start;
 align-items: center;
 gap: 4px;
 border-radius: 8px;
 padding: 6px 12px;
}
.partner__link:hover{
  background-color: rgba(0, 96, 255, 0.12);
}
.partner__item span{
 font-size: 15px;
 color: black;
}
/*end category*/

/*content*/
.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.banner{
  display: flex;
  gap: 15px;
  background-color: #f6f5f3;
  border-radius: 10px;
  padding: 12px;
}
.banner__pic{
  aspect-ratio: 3/2;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.containermenu{
  display: flex;
  gap: 12px;
  background-color: #f6f5f3;
  border-radius: 10px;
  padding: 12px;
  justify-content: space-between;
}
.menu__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  width: 110px;
  gap: 4px;
  border-radius: 8px;
  padding: 6px 12px;
}
.menu__link span {
  font-size: 15px;
  color: black;
  text-align: center;
}
.menu__picture{
 width: 64px;
 height: 64px;
}
.containercontent{
  display: flex;
  flex-direction: column ;
  gap: 7px;
  background-color: #f6f5f3;
  border-radius: 10px;
  padding: 12px;
}
.contentslider{
  display: flex;
  gap:7px;
}
.container__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__title img{
  width: 191px;
  aspect-ratio: auto 191 / 24;
  height: 24px;
}
.viewmore {
  font-size: 15px;
  color:#0a68ff ;
  text-decoration: none;
}
.slider{
  display: flex;
  gap: 10px;
}
.slider span{
  border: 1px solid rgb(221,221,227);
  font-size: 14px;
  border-radius: 25px;
  padding:  8px 16px;
  cursor: pointer;
}
.slider span:hover{
  background-color: rgba(0, 96, 255, 0.12);
}
.slideractive{
  color: #0a68ff ;
  border: 1px solid #0a68ff !important;
}
.contentslider__item{
  border: 1px solid rgb(221,221,227);
  border-radius:10px ;
  overflow: hidden;
  width: 150px;
  background-color: white;
}
.contentslider__pic img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.contentslider__card{
  padding: 0px 8px;
}
.badges img{
 width: 89px;
 height: 20px;
 border-radius: 25px;
}
.namewrapper{
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.pricediscount{
  font-size: 16px;
  color: #ff424e;
  font-weight: bold;
}
.discount{
  display: flex;
  gap: 4px;
}
.percentdiscount{
  border-color: rgb(221,221,227);
  font-size: 14px;
}
.pricediscount__originaelprice{
  color: gray;
  font-size: 10px;
  text-decoration: line-through;
  text-align: center;
}
.delivery{
  display: flex;
  border-top: 1px solid rgb(221,221,227);
  margin: 25px 10px 0px 10px;
  padding: 10px 4px;
}
.delivery img{
  width: 32px;
  height: 16px;
}
.delivery span{
  font-size: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 12px;
  line-height: 15px;
}
.homedeal{
  display: flex;
  flex-direction: column;
  padding:12px ;
  gap: 15px;
  background-color: #f6f5f3;
  border-radius: 10px;
}
.homedeal__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homedeal__title__left{
  display: flex;
  gap: 15px;
}
.homedeal__title__content{
  font-size: 18px;
  font-weight: bold;
}
.homedeal__time{
  display: flex;
}
.time{
  font-size: 18px;
  color:#f6f5f3 ;
  background-color: #ff424e;
  border-radius: 4px;
  padding: 0px 4px;
  margin: 0px 4px;
}
.colon{
  font-size: 18px;
  color: #787878;
  font-weight: bold;
}
.homedeal__content{
  display: flex;
  gap: 8px;
}
.homedeal__item{
  width: 150px;
}
.homedeal__item__pic{
  position: relative;
}
.homedeal__item img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.deals__price__discount{
  font-size: 13px;
  color: #ff424e;
  background-color: rgb(255, 170, 175);
  position: absolute;
  border-radius:3px ;
  padding: 2px;
  left: 4px;
  top: 4px
}
.homedeal__pricediscount{
  font-size: 16px;
  color: #ff424e;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.deals__qty{
  display: flex;
  position: relative;
  background-color:rgb(255, 170, 175) ;
  border-radius: 60px;
  justify-content: center;
  height: 16px;
}
.deals__progress{
  position: absolute;
  background-color:rgb(255, 66, 78) ;
  width: 18px;
  height: 100%;
  border-radius: 60px;
  left: 0px;
}
.deals__qty span{
  font-size: 12px;
  color: #f6f5f3;
}

.productline{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #f6f5f3;
}
.productline__picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
} 
.homebrand{
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0) 22.49%, rgb(255, 255, 255) 73.49%), linear-gradient(264.03deg, rgb(220, 229, 251) -10.27%, rgb(234, 236, 255) 35.65%, rgb(213, 236, 253) 110.66%);
}
.homebrand__title{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.homebrand__content{
  display: flex;
  gap: 15px;
}
.homebrand__pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
} 
.homeinfinity{
  padding: 15px;
  border-radius: 10px;
  background-color: #f6f5f3;
  
}
.homeinfinity__header{
  background-color: white;
}
.homeinfinity__headermenu{
  display: flex;
}
.homeinfinity__headertitle{
  margin-bottom: 10px;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: bold;
}
.homeinfinity__content{
  margin-top: 10px;
}
.headermenu__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 10px;
  width: 170px;
}
.headermenu__itemactive{
  border-bottom: 2px solid rgb(10, 104, 255);
  background-color: rgb(212, 238, 243);
}
.headermenu__item img{
  width: 40px;
  height: 40px;
}
.homeinfinity__content{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
}
.tikiadwidget{
  grid-column: span 2;
}
.tikiadwidget__header{
  text-align: center;
  padding: 25px 0px;

}
.headerpic {
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(177, 212, 196, 0.5); 
}
.tikiadwidget__body{
  padding: 8px;
}
.tikiadwidget__bodytitle{
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 23px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tikiadwidget__bodysuptitle{
  display: flex;
  gap: 3px;
  font-size: 14px;
}
.suptitleblur{
  color: #808098;
}
.ikiadwidget__buttom{
  display: flex;
  gap: 4px;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}
.buttom__pic{
  display: flex;
  gap: 9px;
  width: 56px;
  height: 56px;
}
.ikiadwidget__buttom button{
  color: white;
  background-color:#0060ff ;
  font-size: 14px;
  height: 34px;
  border: none;
  padding: 0px 10px;
  border-radius: 5px;
}

